<?xml version="1.0"?>
<robot xmlns:xacro='http://www.ros.org/wiki/xacro'>
    <!-- 机器人身体 -->
    <xacro:macro name = "base_xacro" params="length radius">
        <link name="base_link">
            <!-- 外观描述 -->
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <geometry>
                    <!-- 圆柱体 单位m -->
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>

                <!-- 材质颜色 -->
                <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>
            </visual>
        </link>
    </xacro:macro>
</robot>